body {
	background-color: black;
	font-family: "Calibri";
	font-size: 32px;
}

#rectangle {
    width: 720px;
    height: 1280px;
    background: #f0d2b8;
    margin-left: 5%;
    margin-top: 5%;
}

.btn {
	background-color: #FC9157;
	width: 680px;
	height: 300px;
	color: black;
    font-size: 52px;
    -webkit-transition-duration: 0.8s; /* Safari */
    transition-duration: 0.8s;
}

.btn:hover {
    background-color: orange;
    /*color: white;*/
}

.btn:click {
    background-color: orange;
    /*color: white;*/
}

#btn1 {
    font-size: 56px;
	margin: 280px 20px 60px 20px;
}

#btn2 {
    font-size: 56px;
	margin: 60px 20px 280px 20px;
}

.textbox {
	padding-top = 15px;
}
